<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lass uns Zahlenraten spielen!</h1>
        <form method="post" action="raten">
             {% csrf_token %}
            <p>Zahl eingeben: <input type="text" size="20" name="number" value="{{guessnumber}}"/> 
                <input type="submit" name="raten" value="raten">
            </p></form>
    
</body>
</html>